@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-night-bordeaux text-peach-fuzz antialiased min-h-screen;
    font-family: 'DM Sans', system-ui, sans-serif;
  }
}

@keyframes bloom-fade-in-out {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-bloom-fade-in-out {
  opacity: 0;
  animation: bloom-fade-in-out 5s ease-in-out forwards;
}
